<form class="ui large form" ng-submit="vm.login()">
	<div class="ui stacked segment">
		<div class="field">
			<div class="ui left icon input">
				<i class="user icon"></i>
				<input type="text" name="email" placeholder="E-mail address" ng-model="vm.email">
			</div>
		</div>
		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				<input type="password" name="password" placeholder="Password" ng-model="vm.password">
			</div>
		</div>
		<button type="submit" class="ui fluid large teal submit button">Login</button>
	</div>

	<div class="ui error message"></div>

</form>